@charset "UTF-8";
body{
background:#fff;
color:#333;
font:83%/1.5 arial,tahoma,verdana,sans-serif;
margin:0;
padding:0;
}


a:link { color: #1c1c1c;}
a:visited { color: #1c1c1c}
a:hover { color: #4D769E;}
a:active { color: #1c1c1c;}


/*-----------Main Layout width*/
#wrap-width {width: 900px; text-align:left;margin:0 auto;overflow:hidden;}


/*-----------Header*/

.head {float:left;position:relative;width: 100%;}
.head img{ margin-left: 20px;margin-top :20px;float:left;padding-bottom: 5px;}

/* small login and register links */
.regs{padding-right:10px;font-size:11px;position:absolute;bottom:0px; right:0px;margin-bottom:36px}
.regs a{margin-right: 8px;}
.regs div{display:inline}

/* published tabs etc */
.tabs {position:absolute; bottom: 0;right:0;margin:0px 0px 2px 0px; padding:0px 5px 0px 0px; list-style:none;}

.tabs li {float:left;margin-left: 5px;}
.tabs li a {text-decoration:none;line-height: 25px;background:url(../images/s_blue/round2.png); height: 25px;display:block; float:left;  color:#888888; font-size:12px;  font-weight:bold; padding:0px 0 0 7px; cursor:pointer;}
.tabs li a b {height:25px; float:left; display:block; padding:0px 13px 0 7px;background:url(../images/s_blue/round2.png) right top; }

.tabs li a:visited{color:#888888}
.tabs li a:hover{color:#4D769E;}

.tabs li.current-tab a {line-height:25px;height: 25px;background:url(../images/s_blue/round.png);color:#ffffff;text-decoration:none;}
.tabs li.current-tab a:visited {color:#ffffff}
.tabs li.current-tab a b {background:url(../images/s_blue/round.png) right top; line-height: 25px;}


/* silver bar and main nav */
.topbar{float:left;margin-bottom: 20px;padding:14px 0px 0px 5px; width: 665px;background:#e5e5e5 url(../images/s_blue/topbar.gif) no-repeat top left;height: 26px;}
.topbar ul{list-style:none;margin:0;padding:0;}
.topbar li {display:inline;margin:0;padding:0;}

.topbar a{font-size: 12px;color:#888888;padding-left: 14px; padding-right: 15px;display:block;float:left;line-height: 13px;border-right: 1px solid #b6b6b6;margin-right: 6px;font-weight: bold;text-decoration:none;}
.topbar a.rss{margin:0;padding:0;border:0;}
.topbar a:visited{color:#888888}
.topbar a:hover{color:#4D769E;}


/* silver bar and search */
.topsearch{float:right;width: 220px;padding-right: 10px;background:#e5e5e5 url(../images/s_blue/topbar.gif) no-repeat top right;height: 33px;padding-top: 7px;}
 input.searchfield {margin:0;	float: left;font-size: 11px;padding-top: 5px;padding-bottom: 0px;height:18px;padding-left: 4px;background: #ffffff;border: 1px solid;border-color:#D8D8CF;	color: #5c5c5c;width: 170px;padding-right:0; }
 input.go {border:0;margin:0;padding:0;float: left;cursor: pointer;margin-left: 5px;height: 25px; width: 25px;background: url(../images/s_blue/search.png) no-repeat;}


/* sort menus */
#filter{overflow:hidden;font-weight:bold;line-height:20px;margin: 0px 0 15px;padding: 0;font-size: 11px;clear:both;width: 100%;padding-bottom: 0px;}
#filter a {background:#ffffff;text-decoration: underline;display: block;float:left;color:#6A6A6A;margin:0 4px 0 0;padding: 0px 7px}
#filter a:hover{background:#4D769E;color:#ffffff;text-decoration:none;}
#filter a.current4, #filter a.current4:hover{text-decoration:none;border-color:#4D769E;color:#ffffff;cursor:default;background:#4D769E}
#filter span.title{text-decoration: none;display: block;float:left;color:#6A6A6A;margin-right: 15px;padding: 0px 14px 0px 0px;background:url(../images/s_blue/bullet.gif) no-repeat center right}
#filter li {display:inline;list-style:none;}
#filter ul {margin:0px;padding:0;list-style:none;}




/*----------- Lef Content*/

.main-content{line-height:160%;float:left;width: 620px;padding-left: 0px; padding:0px 10px 10px 10px;}

/* top users */
.top-users table th, .top-users table td {border-bottom:1px solid #e7e7e7;padding:5px 3px 5px 2px;}


/* Live */

.live2-item {clear:both;border-bottom:1px solid #ccc;text-align:center;overflow:hidden;width:100%;padding:5px 0px 0;font-size:11px}

.live2-ts,.live2-type,.live2-votes,.live2-story,.live2-who,.live2-status {float:left;display:block;}
.live2-type img {border:none;vertical-align:middle;margin:0;width:60px;}

.live2-ts {width:12%;text-transform:capitalize;}
.live2-type {width:12%;text-transform:capitalize;}
.live2-votes {width:6%;text-transform:capitalize;}
.live2-story {width:40%;text-align:left;font-weight:bold;text-transform:capitalize;}
.live2-story a {color:#4D769E;text-decoration:none;}
.live2-story a:hover {text-decoration:underline;}
.live2-who {width:18%;text-transform:capitalize;}
.live2-status{width:12%;text-transform:capitalize;}
.live2-problem {color:red;text-transform:capitalize;}


/* Rss page */
.catpage {list-style:none;margin:0;padding:0;}
.catpage li{margin:0;padding:0;list-style:none;display:block;padding:5px 0;width:250px;margin-right:10px;background:#FFF4D2;border:1px solid #F5E1B8;margin-bottom:10px;float:left;}
.catpage li a {text-transform:uppercase;padding-left:10px;font-size:12px;font-weight:bold;margin-top:0px;}
.catpage img{vertical-align:middle}


/* pagination */
.pagination {clear:both;background:#EBEBEB url(../images/s_blue/grad.png) repeat-x top;color:#666;border:1px solid #d6d6d6;margin:20px 0 1.5em;padding:4px 2px 4px 7px;}
.pagination p {position:relative;text-align:right;margin:0;padding:0;}
.pagination p a:link,.pagination p a:visited,.pagination p a:hover,.pagination p a:active {text-decoration:none;background:#fff;border:1px solid #ccc;margin-right:1px;padding:2px 5px;}
.pagination p a:hover {background:#4D769E;color:#fff;}
.pagination p span {text-decoration:none;background:#fff;border:1px solid #ccc;color:#ccc;margin-right:1px;padding:2px 5px;}

/*left Sections */
.section-left {float:left;width:300px;}
.section-right {float:right;width:300px;}

.section-full{float:left;width:100%;margin-top:20px;}

.border-sections{overflow:hidden;clear:both;font-size:90%;background:#f2f9ff;padding:10px;border:1px solid #d4e9ff;margin-bottom:10px;}
* html .border-sections{height:1%;}

.clear-sections{overflow:hidden;clear:both;width:100%;}


.border-sections img{vertical-align:middle}
.three-sections{float:left;width:170px;padding:5px 0}

/*----------- Stories*/


/* vote box */
.vote-box {position:absolute;left:0px;line-height:normal;margin-top:5px;}

.vote-number{display:block;padding: 0 0 0px 0.25em;font-size: 180%; font-weight: bold; color: #4D769E;}
.vote-number .votetext{vertical-align: super; font-size: 40%; font-weight: normal; color: #949494;text-transform:lowercase;}

.vote-button {margin:0;margin-top:4px;list-style:none;font-size: 11px;padding: 0 0 0px 0;background: url(../images/s_blue/vote.gif) 0 100%;float: left} 
.vote-button a, .vote-button span{font-weight: bold;display: block;padding: 3px 1px;background: url(../images/s_blue/vote.gif) 0 0;width: 49px;color:#737373;text-decoration: none;text-align: center;}
.vote-button a:visited{color:#737373}
.vote-button a:hover{color:#4D769E;}
.vote-button span{color:#a8a8a8}

/* story structure */
h2.story-title {font-size:15px;font-weight:400;margin:0;border:none;margin:0;padding:0;letter-spacing:normal;color:#4D769E;font-weight:700;text-decoration: none; }
h2.story-title a:link, h2.story-title a:visited {color:#4D769E;font-weight:700;text-decoration: none;border-bottom: 1px solid #4D769E;}
h2.story-title a:hover {color:#888888;}

.story-row{position:relative;clear:left;width:100%;margin-bottom: 5px;padding:10px 0 18px;border-bottom:1px solid #ccc}
.story-left-margin {margin-left:80px;padding:0 0 0 5px;}
.l_border{border-left: 8px solid #ebebeb;padding-left: 10px;margin-top: 8px;padding-bottom: 3px;}
.storycontent {font-size:100%;margin:0;z-index:0;padding:0;color:#3b3b3b;}
 a.more{padding-left:5px;white-space:nowrap;}
 a.source-link, a.source-link a:visited{padding-left:2px;font-size:11px;text-decoration:none;color:#666666}

/* top info under story title */
.story-top-info {font-size:10px;color:#bfbfbf;margin:0px 0 5px 0;font-weight: bold;}
.story-top-info a, .story-top-info a:visited {color:#b2b2b2;text-decoration:underline;}
.story-top-info a:hover{color:#000000;}

/* bottom tools under story */
.story-tools {font-size:10px;margin-top: 5px;position:relative;z-index:1}
.story-tools a, .story-tools a:visited{text-decoration:underline; margin-right: 5px;color:#4D769E;font-weight: bold;}
.story-tools a:hover{color:#000000;}
 
.tool-show{font-size:120%;display:block;clear:both;background:#f2f9ff;padding:10px;border:1px solid #d4e9ff;margin-top:10px;}
.tool-show textarea{width:400px;}

/*Group css*/

.group_container {clear:both;margin-bottom: 5px;padding:10px 0 18px;border-bottom:1px solid #ccc}
.toptitle {margin-top:0px;font-size:16px;font-weight:bold;}

.group_right {margin-left:100px;}
.group_left {width:100px;float:left;}
.group_left img{padding:2px;border:1px solid #e5e5e5}

.tools-img img{vertical-align:middle}
.tools-img a{margin-right:10px;padding:0 5px;}




/* Comments */

.comment-wrap {background:#f0f0f0;padding:10px;margin-bottom:10px;position:relative;padding-left:60px;}
* html .comment-wrap {height:1%;}

.comment-wrap .avatar{position:absolute;margin-left:-50px}

.comment-details{line-height:normal}
.comment-details span {color:#bfbfbf;}

.the-comment{padding-top:10px;}

.thumb-buttons{position:absolute;right:10px;top:10px;font-size:11px}
.thumb-buttons img{vertical-align:middle;}



/*----------- Sidebar*/

#side-bar{width:255px; overflow:hidden;float:right;line-height:160%;}

.side-box{padding:10px;margin-bottom:5px;margin-bottom: 10px;padding:8px 10px 10px 10px;background: #fff url(../images/s_blue/grad.png) repeat-x top;}

#side-bar .sectiontitle{letter-spacing:-1px;font-size:116%;margin:0;padding:0;color:#6A6A6A;border-color:#4D769E;text-decoration: none;margin-bottom: 5px;font-weight:bold;border-bottom:1px solid #4D769E}
#side-bar .sectiontitle a, #sidebar .sectiontitle a:visited, #sidebar .sectiontitle a:hover{color:#6a6a6a;text-decoration:none}

.side-box li a:visited{color:#4D769E;text-decoration: none;}
.side-box ul{list-style:none;text-decoration: none;margin:0;padding:0;margin-bottom: 0px;line-height:normal;}
.side-box li {display:inline;font-size:11px; margin:0;text-decoration: none;padding:0 0 0 0px;margin:0;font-weight: bold;}
.side-box li a {text-decoration:none;color:#4D769E;display:block;padding:5px 0 4px 18px;border-bottom: 1px solid #cccccc; background:url(../images/s_blue/bullet.gif) no-repeat center left;}
.side-box li li a{margin-left:10px;}
.side-box li li li a{margin-left:20px;}
.side-box li a:hover {color:#888888;text-decoration:none; }

.side-box-comments a, .side-box-comments a:visited{display:block;padding:5px;border:1px solid #e7e7e7;color:#4D769E;font-weight:bold;text-decoration:none;}
.side-box-comments a:hover{color:#888;}
.side-box-comments{line-height:normal;overflow:hidden;padding:9px 0 8px;padding-left:0px;font-size:11px;position:relative;padding-left:30px;}
.side-box-comments .avatar{position:absolute;margin-left:-30px;}




/* forms */

input.text-short{border:1px solid #ccc;width:200px;padding:3px;}
input.text-long{border:1px solid #ccc;width:98%;padding:3px;}
input.text{border:1px solid #ccc;padding:3px;}

label{margin:0;padding:0;font-weight:bold;display:block;}

textarea{width: 98%;border:1px solid #ccc;padding:3px;}

input{vertical-align:middle;}

/* others */
hr{border:1px solid #e5e5e5;}

table{width:100%}
img{border:none}

h1,h2,h3,h4,h5,h6 {letter-spacing:-1px;font-family:arial,verdana,sans-serif;color:#6A6A6A;border-bottom:1px solid #cccccc;margin:0 0 15px 0}

h1{margin:0;margin-bottom:15px;border:0px;font-size:127%;background:#F2F2F2;padding:4px 8px 4px; margin-left:-10px;border-left:2px solid #dedede;}
h2 {font-size:123%;}
h3 {font-size:126%;}
h4 {font-size:116%;}
h5 {font-size:106%;}
h6 {font-size:96%;}

.right_float{float:right}
.left_float{float:left}

.saved {background-color:#11A3AC;color:#fff;font-size:14px;padding:6px;}
.error  {background-color:#A44848;color:#fff;font-size:14px;padding:6px;line-height:18px;}
.errordiv  {background-color:#A44848;color:#fff;font-size:14px;padding:6px;line-height:18px;}

ul {margin:0; padding:0;margin-left:15px;}
ol {margin:0; padding:0;margin-left:20px}


.avatar{vertical-align:middle;background:#fff;border:1px solid #e7e7e7;padding:2px}

a.a-button{display:block;float:left;padding:7px;background:#eaeaea;border:1px solid;border-color:#fff #ccc #ccc #fff;font-weight:bold}


/*----------- Footer*/

.footer {border-top:1px solid #ccc;font-size:86%;color:#999;margin-top:15px;padding:10px 0 30px 15px;}
.footer a{padding:0px 5px}
